/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Import Poppins font and apply globally */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: rgb(81, 174, 255);
  --ifm-color-primary-dark: rgb(61, 155, 230);
  --ifm-color-primary-darker: rgb(54, 136, 204);
  --ifm-color-primary-darkest: rgb(42, 107, 153);
  --ifm-color-primary-light: rgb(101, 193, 255);
  --ifm-color-primary-lighter: rgb(121, 212, 255);
  --ifm-color-primary-lightest: rgb(162, 229, 255);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  /* Poppins font family */
  --ifm-font-family-base: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --ifm-heading-font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --navbar-icon-color: #9ca3af;
  --sidebar-icon-color: #9ca3af;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: rgb(81, 174, 255);
  --ifm-color-primary-dark: rgb(61, 155, 230);
  --ifm-color-primary-darker: rgb(54, 136, 204);
  --ifm-color-primary-darkest: rgb(42, 107, 153);
  --ifm-color-primary-light: rgb(101, 193, 255);
  --ifm-color-primary-lighter: rgb(121, 212, 255);
  --ifm-color-primary-lightest: rgb(162, 229, 255);
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  /* Poppins font family for dark mode */
  --ifm-font-family-base: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --ifm-heading-font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --navbar-icon-color: #9ca3af;
  --sidebar-icon-color: #9ca3af;
}

/* Apply Poppins font to all elements */
body,
html {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.heading,
.hero__title,
.hero__subtitle {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Ensure all text uses Poppins */
* {
  font-family: inherit;
}

/* Logo styling */
.navbar__logo {
  height: 40px;
  width: auto;
}

.navbar__logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* Footer background color */
.footer {
  background-color: #1a1c27;
}

/* Navbar iconography */
.navbar-item--with-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.35rem;
}

.navbar-item--with-icon::before {
  content: '';
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  background-color: var(--navbar-icon-color);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  flex-shrink: 0;
  opacity: 0.85;
}

.navbar-item--with-icon:hover::before,
.navbar-item--with-icon:focus-visible::before {
  opacity: 1;
}

.navbar-item--docs::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/book-open-variant.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/book-open-variant.svg?color=%23000000');
}

.navbar-item--versions::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/tag-multiple-outline.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/tag-multiple-outline.svg?color=%23000000');
}

.navbar-item--skydynamics::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/airplane.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/airplane.svg?color=%23000000');
}

.navbar-item--github::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/github.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/github.svg?color=%23000000');
}

/* Sidebar iconography */
.sidebar-item--with-icon > .menu__link,
.sidebar-item--with-icon > button.menu__link {
  display: inline-flex;
  align-items: center;
  gap: 0.45rem;
}

.sidebar-item--with-icon > .menu__link::before,
.sidebar-item--with-icon > button.menu__link::before {
  content: '';
  display: inline-block;
  width: 1.05em;
  height: 1.05em;
  background-color: var(--sidebar-icon-color);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  flex-shrink: 0;
  opacity: 0.85;
  transition: opacity 0.2s ease;
}

.sidebar-item--with-icon > .menu__link:hover::before,
.sidebar-item--with-icon > .menu__link:focus-visible::before,
.sidebar-item--with-icon > button.menu__link:hover::before,
.sidebar-item--with-icon > button.menu__link:focus-visible::before {
  opacity: 1;
}

.sidebar-item--welcome > .menu__link::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/home-outline.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/home-outline.svg?color=%23000000');
}

.sidebar-item--aero-ebt > .menu__link::before,
.sidebar-item--aero-ebt > button.menu__link::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/airplane-cog.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/airplane-cog.svg?color=%23000000');
}

.sidebar-item--ebt-instructor > .menu__link::before,
.sidebar-item--ebt-instructor > button.menu__link::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/teach.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/teach.svg?color=%23000000');
}

.sidebar-item--ebt-scenario > .menu__link::before,
.sidebar-item--ebt-scenario > button.menu__link::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/view-dashboard-outline.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/view-dashboard-outline.svg?color=%23000000');
}

.sidebar-item--wingman > .menu__link::before,
.sidebar-item--wingman > button.menu__link::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/account-group-outline.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/account-group-outline.svg?color=%23000000');
}

.sidebar-item--terms > .menu__link::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/scale-balance.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/scale-balance.svg?color=%23000000');
}

.sidebar-item--disclaimer > .menu__link::before {
  -webkit-mask-image: url('https://api.iconify.design/mdi/alert-circle-outline.svg?color=%23000000');
  mask-image: url('https://api.iconify.design/mdi/alert-circle-outline.svg?color=%23000000');
}
